.profile-photo-grid {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 25vh;
}

.profile-photo-grid img {
  padding: 0;
  height: 23vh;
  border-radius: 50%;
  object-fit: cover;
  border: 3px groove rgb(207, 206, 202);
  box-shadow: 0 10px 30px -4px rgba(0, 0, 0, 0.7);
  background-color: white;
}