 /* ProjectDetails */

 .project-details-container {
  display: flex;
  // flex-direction: column;
}

.page-container {
  // display: flex;
  // flex-direction: column;
}

.header-container {
  flex-shrink: 0;
  height: 278px;
  img{
    width: 100%;
  }
}
.banner-box-container {
  align-items: center;
  background: #ffead0;
  border-radius: 16px 0 0 16px;
  display: flex;
  gap: 16px;
  margin: 0 0 0 100px;
  padding: 16px 32px;
  width: 1192px;
}
.banner-text-container {
  align-items: center;
  display: flex;
  flex: 1 0 0;
  gap: 16px;
}
.banner-img {
  height:68px;
  width: 68px;
}
.banner-text {
  align-items: center;
  display: flex;
  gap: 32px;
  h1 {
    color: #313335;
    font-family: $vep-font-family;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 67.2px;
  }
}
.overview-box-container {
align-items: flex-start;
background-color: #fdfdfd;
display: flex;
flex-direction: column;
gap: 56px;
margin: 40px 100px 59px 100px;
padding: 16px 32px;
width: 992px;
}
.overview-text-container {
align-items: flex-start;
display: flex;
flex-direction: column;
gap: 8px;
position: relative;
}
.brief-overview-header-container {
align-items: center;
align-self: stretch;
display: flex;
flex: 0 0 auto;
gap: 8px;
position: relative;
.heaader-icon {
  height: 24px;
  position: relative;
  width: 24px;
}
h1 {
  color: #313335;
  flex: 1;
  font-family: $pdt-font-family-2;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 33.6px;
  margin-top: -1px;
}
}
.brief-overview-text-container {
align-items: flex-start;
align-self: stretch;
display: flex;
flex-direction: column;
font-size: 16px;
gap: 10px;
padding-left: 0px;
}
.brief-overview-header-container {
h1 {
  margin:0;
}
}
.problem {
p{
  margin:0;
}
}
.consider {
p{
  margin: 0;
}

ul {
  margin: 0;
}
}
.deliverables {
p{
  margin: 0;
}
}
.scope {
p{
  margin: 0;
}
}