.ticket-icon {
    font-size: 22px;
}

.comments-section-label {
    display: flex;
    column-gap: 12px;
}

.comment-input-banner {
    display: flex;


    input {
        border-radius: 5px;
        border-style: none;
        box-sizing: border-box;
        padding: 3px 8px;
        margin-top: 10px;
        width: 90%;
        height: 40px;
        font-size: 14px;
    }

    input:focus {
        outline: none;
    }

    img {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        margin: 12px 10px 0 0;
    }
}

.REPLY {
    margin-left: 45px;
}

.comment-author {
    p {
        font-weight: 600;
        letter-spacing: .5px;
        font-size: 16px;
    }
}

.comment-content {
    margin: 5px 0;
    p {
        font-size: 16px;
    }
}

.comment-date-time {
    p {
        font-size: 15px;
        color: rgb(87, 87, 87);
    }
}

.comment-thumbnail {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin: 8px 10px 0 0;
}

.comment-container {
    display: flex;
    flex-direction: row;
    margin-top: 15px;

}

.replies-container {
    padding-left: 45px;
}

.comment-card {
    background-color: white;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    width: 90%;
    padding: 12px ;
    border-radius: 5px;

    p {
        margin: 0;
    }
}

.comment-top-banner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.comment-actions {
    display: flex;
    flex-direction: row;
    column-gap: 15px;
}