.ticket-icon {
    font-size: 22px;
}

.comments-section-label {
    column-gap: 12px;
    display: flex;
}

.comment-input-banner {
    display: flex;

    input {
        border-radius: 5px;
        border-style: none;
        box-sizing: border-box;
        font-size: 14px;
        height: 40px;
        padding: 3px 8px;
        margin-top: 10px;
        width: 90%;
    }

    input:focus {
        outline: none;
    }

    img {
        border-radius: 50%;
        height: 35px;
        margin: 12px 10px 0 0;
        width: 35px;
    }
}

.comment-author {
    p {
        font-size: 16px;
        font-weight: 600;
        letter-spacing: .5px;
    }
}

.comment-content {
    margin: 5px 0;

    p {
        font-size: 16px;
    }
}

.comment-date-time {
    p {
        color: rgb(87, 87, 87);
        font-size: 15px;
    }
}

.comment-thumbnail {
    border-radius: 50%;
    margin: 8px 10px 0 0;
    height: 35px;
    width: 35px;
}

.comment-container {
    display: flex;
    flex-direction: row;
    margin-top: 15px;
}

.comment-card {
    background-color: white;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    padding: 12px ;
    width: 90%;

    p {
        margin: 0;
    }
}

.comment-top-banner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.comment-actions {
    column-gap: 15px;
    display: flex;
    flex-direction: row;
}

.edit-comment {
    border-radius: 5px;
    border-color: rgb(185, 185, 185);
    border-style: solid;
    height: 20px;
    padding: 3px 5px;
    width: 95%;
}

.REPLY {
    margin-left: 45px;
}

.replies-container {
    padding-left: 45px;
}