.expired-link-page {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 60px;
  text-align: center;

  h1 {
    font-size: 28px;
    margin: 0;
    padding: 0;
  }

  .contents {
    padding: 15px 0;
  }
}
