.team-avatar {
  .ta-profile-pics {
    display: flex;
    width: min-content;
  }

  .ta-imgs {
    border-radius: 50%;
    object-fit: cover;

    &.tiny {
      height: 24px;
      width: 24px;
    }

    &.small {
      height: 40px;
      width: 40px;
    } 

    &.medium {
      height: 64px;
      width: 64px;
    }
   }

  .ta-default-pics {
    cursor: default;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
}
