.team-avatar {
  .ta-profile-pics {
    display: flex;
    width: min-content;
  }

  .ta-imgs {
    border-radius: 50%;
    cursor: pointer;
    height: 75px;
    object-fit: cover;
    width: 75px;
  }

  .ta-default-pics {
    cursor: default;
    display: flex;
    flex-direction: column;
    height: 100px;
    justify-content: flex-start;
    width: 100px;
  }
}
