.display-modal-wrapper {
  display: grid;
  grid-template-areas: 
  "headerImg headerContent"
  "attendeeIcon attendees"
  "descriptionIcon description"
  "linkIcon meetingLink";

  .description {
    grid-area: description
  }

  .description-icon {
    grid-area: descriptionIcon
  }

  .header-content {
    grid-area: headerContent;
    h3 {
      text-align: left;
    }
  }

  .header-img {
    grid-area: headerImg;
  }

  .centered-icon {
    margin-right: 13px;
    padding-top: 12px;
  }

  .link-icon {
    grid-area: linkIcon
  }

  .meeting-link {
    grid-area: meetingLink
  }

  .people-icon {
    grid-area: attendeeIcon
  }

}

.invited-members {
  grid-area: attendees;

  .invited-member {
    align-items: center;
    display: flex; 

    .member-photo {
      border-radius: 100%;
      height: 30px;
      margin-right: 15px;
      width: 30px;
    }
  }
}

.modal-icons {
  display:flex;
  flex-direction: row;;
  justify-content: flex-end;

  :first-child {
    margin-right: 10px;
  }
}
