.meeting-modal {
  overflow-x:hidden;

  .close-icon {
    align-items: flex-end;
    background-color: white;
    display:flex;
    height: 44px;
    justify-content: flex-end;
    position: absolute;
    top: 0px;
    width: 87%;
    z-index: 2;
  }

  .date-attendee-wrapper {
    display:grid;
    grid-template-areas: 
    "clock dateFields"
    "people selectAttendees";
    flex-direction: row;

    .clock-icon {
      grid-area: clock;
      margin-right: 10px;
      padding-top: 5px;
    }

    .people-icon {
      grid-area: people;
      margin-right: 10px;

    }
  }

  .meeting-modal-divider {
    background-color: #313335;
    height: 1px;
    position: relative;
    right: 24px;
    width: 120%;
  }
}

/* Date Fields */
.fields-wrapper {
  display: flex;
  flex-direction: column;
  grid-area: dateFields;
  justify-content:center;
}

.time-fields {
  align-items: center;
  display: flex;
  flex-direction: row;
  height: 40px;

  .time-icon {
    position: relative;
    right: 17px;
    width: 17px;
  }

  span {
    padding: 0 5px;
  }
  .span-dash {
    font-size: large;
    font-weight: 900;
    background-color: 'black';
    height: 15px;
    width: 8px;
  }
}

.timezone-wrapper {
  align-self: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
   p {
    font-size: 14px;
    margin-right: 19px;
   }
}

/* Meeting Text */ 
.meeting-text-field {
  display: flex;
  flex-direction: row;
}

/* Select Attendees */
.select-attendees-section {
  display: flex;
  flex-direction: row;
  grid-area: selectAttendees;
  margin-bottom: 32px;

  :first-child {
    margin-right: 20px;
  }

  .select-attendees-helper-text {
    font-size: 12px;
    font-style: italic;
  }
}