.calendar-container{

  .fc .fc-today-button {
    text-transform: capitalize;
    background-color: white;
    color:black;
  }
  
  .fc .fc-button-primary:disabled {
    background-color: white;
    color:black;
  }

  .tbody{
    z-index: 0
  }

  .fc-col-header-cell {
    height: 64px;
  }

  .fc-theme-standard .fc-scrollgrid{
    border: none;
  }
}

