.calendar-container{

  .fc .fc-today-button {
    text-transform: capitalize;
    background-color: white;
    color:black;
  }
  
  .fc .fc-button-primary:disabled {
    background-color: white;
    color:black;
  }

  .tbody{
    z-index: 0
  }

  .fc-col-header-cell {
    height: 64px;
  }

  .fc-theme-standard .fc-scrollgrid{
    border: none;
  }

  .fc .fc-myCustomButton-button {
    background-color: #fa9413;
    border: none;
    color: #1A237E;
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 14px;
    padding: 8px 15px;

  }

  .fc .fc-myCustomButton-button:focus{
    box-shadow: none;
  }

  .fc .fc-myCustomButton-button:active{
    background-color: #fa9413;
    border: none;
    color: #1A237E;
    font-family: "Roboto","Helvetica","Arial",sans-serif;
  }

  .fc .fc-myCustomButton-button:active:focus{
    box-shadow: none;
  }


}

