.css-19kzrtu {
  padding: 0px;
  box-shadow: 0.5px 2px 5px -2px #1a237e;
  border-radius: 4px;
  padding: 20px;
  width: 100%;
  margin-top: 20px;
}

.calendar-container{

  .fc .fc-today-button,  .fc  .fc-today-button:active  {
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    text-transform: capitalize;
    background-color: white;
    border-color: #1A237E;
    padding: 7px 18px;
    color: #1a237e;
    font-size: 14px;
    font-weight: 500;
  }

  .fc .fc-prev-button{
    border: none;
    color: #212121;
    background-color: transparent;
  }

  .fc .fc-prev-button:active:focus, .fc .fc-prev-button:focus{
    box-shadow: none;
  }

  .fc .fc-prev-button:active{
    box-shadow: none;
    background-color: transparent;
    border: none;
  }

  .fc .fc-next-button{
    border: none;
    color: #212121; 
    background-color: transparent;
  }

  .fc .fc-next-button:active:focus,  .fc .fc-next-button:focus{
    box-shadow: none;
  }

  .fc .fc-next-button:active{
    box-shadow: none;
    background-color: transparent;
    border: none;
  }
  
  .fc .fc-button-primary:disabled {
    background-color: transparent;
  }

  .tbody{
    z-index: 0
  }

  .fc-col-header-cell {
    height: 64px;
  }

  .fc-theme-standard .fc-scrollgrid{
    border: none;
  }

  .fc .fc-myCustomButton-button {
    background-color: #ffa726;
    border: none;
    color: #1A237E;
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    font-weight: 500;
    font-size: 14px;
    padding: 9px 21px;
  }

  .fc .fc-myCustomButton-button:focus{
    box-shadow: none;
  }

  .fc .fc-myCustomButton-button:active{
    background-color: #ffa726;
    border: none;
    color: #1A237E;
    font-family: "Roboto","Helvetica","Arial",sans-serif;
  }

  .fc .fc-myCustomButton-button:active:focus{
    box-shadow: none;
  }
}

