.auth_form_label {
  color: grey;
  display: block;
  font-size: .75rem;
}

.auth_form_input {
  border-radius: 10px;
  border: none;
  font-size: 15px;
  height: 30px;
  margin-bottom: 10px;
  padding: 5px;
  padding-right: 30px;
  width: 100%;
}

.form_container {
  border-top: 1px solid rgba(128, 128, 128, 0.5);
  padding: 10px;
  text-align: center;
  width: 100%;
}

.form_input_container {
  position: relative;
  text-align: left;
}

.auth_form_submit_button {
  border: none;
  background-color: black;
  border-radius: 10px;
  cursor: pointer;
  color: white;
  font-weight: bold;
  height: 25px;
  margin: 10px 0;
  transition: all .15s ease-in-out;
  width: 100%;
}

.auth_form_submit_button:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.auth_form_submit_button:disabled {
  cursor: default;
  background-color: rgba(0, 0, 0, 0.5);
}

.toggle_hide_password {
  position: absolute;
  right: 10px;
  top: 22px;
}


.pwd_reveal {
  cursor: pointer;
  font-size: 19px;
}

.pwd_reveal_gray {
  cursor: pointer;
  font-size: 19px;
  opacity: 0.3;
  transition: all .15s ease-in-out;
}

.pwd_reveal_gray:hover {
  opacity: 1;
}

.match_error {
  color: red;
  font-size: .7rem;
}