@import 'scss/variables';

.sidemenu {
  box-shadow: 0px 1px 3px 1px rgba(26, 35, 126, 0.15),
  0px 1px 2px 0px rgba(26, 36, 126, 0.3);
  position: relative;
  min-width: $sidemenu-width;
  z-index: 2;
}

.sidemenu-content {
  background: #ffffff;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: calc(100vh - $nav-height);
  padding: 32px 16px;
  transition: 0.3s ease-in-out;
  width: 272px;

  .completion-overflow-btn {
    align-self: center;
    background-color: #fa9413;
    border-radius: 4px;
    border: none;
    color: #313335;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    height: 51px;
    line-height: 22px;
    width: 216px;
  }
  .project-completion-link {
    align-self: center;
    margin-top: auto;
  }

  .title {
    align-items: center;
    display: flex;
    h2 {
      font-size: 22px;
      font-style: normal;
      font-weight: 700;
      line-height: 28px; 
    }

  }

  .sidemenu-links {
    display: flex;
    flex-direction: column;
  }

  .link {
    align-items: center;
    border-radius: 4px;
    color: #000;
    display: flex;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px; /* 127.273% */
    margin-bottom: 8px;
    padding: 16px;
    text-decoration: none;

    .MuiSvgIcon-root {
      color: 'red';
      margin-right: 16px;
    }
  }

  .link:hover {
    background-color: #F2F4FF;
    color: #1A237E;
  }
}
