/* onboarding incomplete */

.progress-bar {
  width: 675px;
  height: 24px;
  border: 0 none;
  margin: 50px auto 0;
}

.onboarding-incomplete-container {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.welcome-container {
  align-items: flex-start;
  display: inline-flex;
  flex-direction: column;
  gap: 5px;
  justify-content: center;
  padding: 0px;


  h1 {
    height: 54px;
    font-size: 38px;
    font-style: normal;
    font-weight: 600;
    line-height: 53.2px;
    margin: 0;
    text-align: left;
    // width: 347px;
  }

  p {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    margin: 0px;
    text-align: left;
  }

}


.role-selection-container {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: center;
  margin-top: 50px;
  padding: 0px;

  .select-role {
    margin: 0;
  }

  ul {
    margin: 0;
  }

  h2 {
    gap: 6px;
  }
}

.role-title-explanation {
  display: flex;
  flex-direction: column;
  gap: 6px;

  .tell-role {
    height: 34px;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 34px;
    margin: 0;
    width: 250px;
  }

  .tell-role-content {
    width: 462px;
    height: 48px;

    p {

      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 22px;
      margin: 0px;
    }
  }

}

.onboarding-form-container {
  display: flex;
  flex-direction: column;
  height: 25.25rem;
  width: 33.625rem;
  margin: 0 auto;
}

.radio-btn {
  display: flex;
  flex-direction: row;

  .ux-designer-btn {
    width: 144px;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 22.4px;
    display: flex;
    flex-direction: row;
  

    input {
      margin: 0 8px 0 0;
      height: 24px;
      width: 24px;
    }

    p{
      margin:0
    }
  }

  .software-engineer-btn {
    margin-left: 16px;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 22.4px;
    display: flex;
    flex-direction: row;
    width: 516px;

    input {
      margin: 0 8px 0 0;
      height: 24px;
      width: 24px;
    }

  }

  .software-eng-p1 {
    margin: 0;
  }

  .software-eng-p2 {
    margin: 0;
  }



}


.software-engineer-msg {
  padding-left: 250px;


  p {
    margin: 0;
  }
}


.onboarding-button-section {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 8px;
  justify-content: center;
  margin: 13px 22% 0;
}




.onboarding-incomplete-btn {
  align-items: center;
  border: none;
  border-radius: 4px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  height: 43px;
  justify-content: center;
  left: 598px;
  top: 582px;
  width: 167px;
  padding: 0;

  p {
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    margin: 0;
  }
}

.arrow-icon {
  width: 16px;
  height: 16px;
  margin: 10px 0 10px 0;
}


/* Onboarding Last Screen */

.onboarding-lastscreen-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 65px;
  height: 547px;
  left: 382px;
  padding: 0px;
  position: absolute;
  top: 147px;
  width: 675px;
}

.lastscreen-text-container {
  display: flex;
  flex-direction: column;
  height: 547px;
  left: 382px;
  top: 147px;
  width: 675px;
}

.lastscreen-header {
  align-items: center;
  display: flex;
  height: 54px;
  justify-content: center;
  margin: 74px 35.5px 40px 35.5px;
  width: 604px;

  h1 {
    font-size: 38px;
    font-weight: 600;
    height: 54px;
    left: 74px;
    line-height: 53px;
    text-align: center;
    top: 0px;
    width: 456px;
  }
}

.whats-next {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 5px;
  height: 107px;
  justify-content: center;
  padding: 0px;
  width: 670px;

  h2 {
    font-size: 24px;
    font-weight: 600;
    height: 34px;
    line-height: 34px;
    text-align: center;
    width: 150px;
  }

  p {
    text-align: center;
  }
}

.lastscreen-survey {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 65px;

  .lastscreen-feedback {
    height: 23px;
    font-size: 16px;
    font-weight: 700;
    line-height: 22px;
    text-align: center;
    width: 650px;

  }

  p {
    margin: 0;
  }
}

.project-details {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 65px;

  p {
    margin-bottom: 25px;
  }
}

.link {
  text-decoration: none;
}

.project-details-btn {
  align-items: center;
  background-color: #FA9413;
  border: none;
  border-radius: 4px;
  display: flex;
  flex-direction: row;
  font-size: 16px;
  font-weight: 500;
  gap: 8px;
  height: 43px;
  justify-content: center;
  line-height: 22px;
  padding: 10px 16px;
  width: 183px;
}