/* onboarding incomplete */

.onboarding-incomplete-text-container {
  display: flex;
  flex-direction: column;
  width: 675px;
  margin: 50px 382px 400px 382px;
}

.welcome-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0px;
  gap: 5px;
  width: 538px;
  height: 86px;
  left: 451px;
  top: 221px;

  h1 {
    margin: 0;
    text-align: left;
    width: 347px;
    height: 54px;
    font-size: 38px;
    font-weight: 600;
    line-height: 53.2px;
  }

  p {
    margin-top: 10px;
    text-align: left;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
  }
  
}


.role-selection-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  // margin-top: 50px;
  padding: 0px;
  // gap: 6px;
  // width: 462px;
  // height: 88px;
  // left: 451px;
  // top: 357px;
  

  .tell-role{
    width: 250px;
    height: 34px;
    
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 34px;
    
  }

  p {
    margin-top: 0.75rem;
  }

  .select-role{
    margin: 2rem 0 0 0;
  }

  ul{
    margin:0;
  }
}

.onboarding-form-container {
  display: flex;
  flex-direction: column;
  
}

.radio-btn {
  display:flex;
  flex-direction: row;
}

.software-engineer-btn {
  padding-left:120px;
}

.software-engineer-msg {
  padding-left: 270px
}


.onboarding-button-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin: 10px;
}




.onboarding-incomplete-btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 167px;
  height: 43px;
  left: 598px;
  top: 582px;
  gap: 8px;
  border-radius: 4px;
  border: none;

  p {
    width: 111px;
    height: 23px;
    margin: 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
  }
  
}

.arrow-icon {
  padding: 13.5px 13.5px 13.5px 8px;
}


/* Onboarding Last Screen */

.onboarding-lastscreen-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  position: absolute;
  gap: 65px;
  width: 675px;
  height: 547px;
  left: 382px;
  top: 147px;
}

.lastscreen-text-container {
  display: flex;
  flex-direction: column;
  // margin: 3rem 10rem 0rem 10rem;
  width: 675px;
  height: 547px;
  left: 382px;
  top: 147px;
}

.lastscreen-header {
  display: flex;
  width: 604px;
  height: 54px;
  
  align-items: center;
  justify-content: center;
  margin: 74px 35.5px 40px 35.5px;
  h1 {
    // position: absolute;
    width: 456px;
    height: 54px;
    left: 74px;
    top: 0px;
    font-size: 38px;
    font-weight: 600;
    line-height: 53px;
    text-align: center;
  }
}

.whats-next {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 670px;
  height: 107px;
  padding: 0px;
  gap: 5px;

  h2 {
    width: 150px;
    height: 34px;
    font-weight: 600;
    font-size: 24px;
    line-height: 34px;
    text-align: center;
  }

  p{
    text-align: center;
  }
}

.lastscreen-survey {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 65px;

  .lastscreen-feedback {
    width: 650px;
    height: 23px;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    
  }

  p {
    margin: 0;
  }
}

.project-details {
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 65px;

  p {
    margin-bottom: 25px;
  }
}

.link {
  text-decoration: none;
}

.project-details-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 16px;
  gap: 8px;

  width: 183px;
  height: 43px;

  border-radius: 4px;


  background-color: #FA9413;
  border:none;
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
}
