.setup-avail-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: fit-content;

  .setup-avail-header {
    margin: 32px 0;

    h2 {
      margin: 8px 0;
    }

    p {
      margin: 8px 0;
    }

    i strong {
      font-size: 13.5px;
      font-weight: 700;
      line-height: 24px;
    }
  }
}
