@import 'scss/variables';
@import 'scss/mixins';

.overview {
  color: #212121;
  padding: 16px 0 0;
  max-width: 650px;

  .ov-text-cont {
    @include flex(column);
    flex: 1 0 0;
    gap: 16px;
    height: 100%;
    padding: 0;
    position: relative;
    width: 100%;
  }

  .ov-header-cont {
    @include flex(revert, flex-start, center);
    flex: 0 0 auto;
    gap: 8px;
    height: 100%;
    position: relative;
    width: 100%;

    h1 {
      @include font-properties(
        (
          size: 22px,
          weight: 700,
          line-height: 28px,
        )
      );
      color: #212121;
      flex: 1 1 0;
      margin: 0;
      padding: 0;
      word-wrap: break-word;
    }
  }

  .ov-info-cont {
    @include flex(column);
    align-self: stretch;
    font-size: 16px;
    height: 100%;
    width: 100%;
  }

  .ov-sub-info {
    @include font-properties(
      (
        size: 16px,
        weight: inherit,
        line-height: 24px,
      )
    );
    color: #212121;
    width: 100%;
    word-wrap: break-word;

    b {
      font-weight: 700;
      padding: 0;
      margin: 0;
    }

    p {
      font-weight: 400;
      padding: 0;
      margin: 0;
    }
  }

  .css-1c35hjw-MuiPaper-root-MuiAccordion-root.Mui-expanded {
    margin: 0px;
  }

  .css-sh22l5-MuiButtonBase-root-MuiAccordionSummary-root.Mui-expanded {
    min-height: 40px;
    .css-o4b71y-MuiAccordionSummary-content.Mui-expanded{
      margin: 10px 0px;
    }
  }

  .title {
    font-weight: 600;
    margin: 0px 0px;
  }

  .details-div p{
    margin: 5px 0px;
  }

  .details-div ul {
    margin: 5px 0px;
  }

  .products-req-doc {
    color: #0D47A1;
  }
}
