@import 'scss/variables';
@import 'scss/mixins';

/*ProjectDetailsSidebar */

.project-details-sidebar {
  // align-items: center;
  background-color: #ffffff;
  display: flex;
  height: 927px;
  flex-direction: column;
  flex-shrink: 0;
  justify-content: space-between;
  // padding: 32px 0px;
  width: 248px;
}

  .nav-container {
    align-items: center;
    align-items: stretch;
    display: flex;
    flex-direction: column;
    padding: 0px 16px;
    gap: 24px;
    margin: 24px 0 0;
  }

  .nav-header {
    display: flex;
    align-items: center;
    gap:24px;
    align-self: stretch;

    h1 {
      color:#000;
      font-family: $vep-font-family;
      font-size: 24px;
      font-style: normal;
      font-weight: 600;
      line-height: 33.6px;
    }
  }

  .nav-links {
    display: flex;
    flex-direction: column;
    width: 216px;
    align-items: flex-start;
    gap: 8px;
    margin: 24px 0 0;
  }

  .link {
    color: #000;
    // font-size: 14px;
    // font-style: normal;
    // font-weight: 400;
    // line-height: 400;
}

.project-details-link {
  display: flex;
  align-items: center;
  padding: 16px;
  gap: 16px;
  align-items: stretch;
}

.team-link {
  display: flex;
  align-items: center;
  padding: 16px;
  gap: 16px;
  align-items: stretch;
}

.calendar-link {
  display: flex;
  align-items: center;
  padding: 16px;
  gap: 16px;
  align-items: stretch;
}

.task-management-link {
  display: flex;
  align-items: center;
  padding: 16px;
  gap: 16px;
  align-items: stretch;
}

.submit-project-container {
  display: flex;
  padding: 0px 16px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  align-self: stretch;
  margin: auto 0 32px 0;

    .submit-btn {
    align-items: center;
    align-self: stretch;
    padding: 14px 24px;
    background-color: #FA9413;
    border: none;
    border-radius: 4px;
    color: #313335;
    display: flex;
    font-size: 16px;
    font-weight: 500;
    gap: 8px;
    height: 51px;
    justify-content: center;
    line-height: 22.4px;
    width: 216px;
    }
  }

  /* ProjectDetails */

  .project-details-container {
    display: flex
  }

  .page-container {
    display: flex;
    flex-direction: column;
  }

  .header-container {
    height: 278px;
    flex-shrink: 0;

    img{
      width: 100%;
    }
  }

  .banner-box-container {
    display: flex;
    width: 1192px;
    padding: 16px 32px;
    align-items: center;
    gap: 16px;
    border-radius: 16px 0 0 16px;
    background: #ffead0;
    margin: 0 0 0 100px;
  }

  .banner-text-container {
    display: flex;
    align-items: center;
    gap: 16px;
    flex: 1 0 0;
  }

  .banner-img {
    height:68px;
    width: 68px;
  }

  .banner-text {
    display: flex;
    align-items: center;
    gap: 32px;

    h1 {
      color: #313335;
      font-family: $vep-font-family;
      font-size: 48px;
      font-style: normal;
      font-weight: 700;
      line-height: 67.2px;
    }
  }

  .overview-box-container {
  display: flex;
  width: 992px;
  padding: 16px 32px;
  flex-direction: column;
  align-items: flex-start;
  gap: 56px;
  margin: 40px 100px 59px 100px;
}

.overview-text-container {
  display: flex;
  background-color: #ffffff;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  align-items: stretch;
  margin: 16px 32px;
}

.brief-overview-header-container {
  display: flex;
  align-items: center;
  gap: 8px;
  align-self: stretch;

  .heaader-icon {
    height: 24px;
    width: 24px;
  }

  h1 {
    font-family: $pdt-font-family-2;
    color: #313335;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 33.6px;
  }
}


.brief-overview-text-container {
  display: flex;
  padding-left: 0px;
  align-items: flex-start;
  gap: 10px;
  align-self: stretch;
  font-size: 16px;
}



/*team screen */

.team-container {
  display: flex
}

.software-engineer-container {
  display: inline-flex;
  padding: 32px;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
  // background-color: greenyellow;
}

.swe-text-container {

  border-radius: 16px;
  background-color: white;
  
  h1 {
    color: #000;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: 44.8px;
  }

}

.ux-designers-container {
  display: inline-flex;
  padding: 32px;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
  // background-color: orangered;
}

.ux-designers-text-container {
  border-radius: 16px;
  
  h1 {
    color: #000;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: 44.8px;
  }
}

/*Team Member Card */

.profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 167px;
  height: auto;
  // background-color: aqua;
  
}

.profile-img-container {
  align-items: center;
  justify-content: center;
  height: 88px;
  width: 88px;
  // clip-path: ellipse(88px 88px);
  
  
}

.profile-img {
  clip-path: ellipse(88px 88px);
  justify-content: center;
}

.profile-info-container {
  display: flex;
  padding: 16px;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-8-px, 8px);
  border-radius: 8px;
  background: var(--white-ffffff, #FEFEFE);
  box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.15);

}

.profile-name {
  label {
    height: 20px;
    width: 144px;
  }

  padding: 0;
}


.profile-buttons {
  display: flex;
  flex-direction: row;
}

.profile-btn-container {
  margin: 8px 8px 0 0;
}

.profile-btn {
  align-items: center;
  background-color: var(--primary-primary, #FFA726);
  border: none;
  border-radius: 4px;
  display:flex;
  flex: 1 0 0;
  gap: 8px;
  justify-content: center;
  padding: 4px 8px;
  position: relative;
  text-decoration: none;
}

.message-btn-container{
  margin: 8px 0 0 0;
}

.message-btn {
  align-items: center;
  background-color: var(--primary-primary, #FFA726);
  border: none;
  border-radius: 4px;
  display: flex;
  flex: 1 0 0;
  gap: 8px;
  justify-content: center;
  padding: 4px 8px;
  position: relative;
}

