/*team screen */

.team-container {
  height:100vh;
  width: auto;
}

.team-page-container {
  display: flex;
  flex-direction: column;
}

.team-header-container {
  flex-shrink: 0;
  height: 278px;

  img{
    width: 100%;
  }
}

.team-banner-box-container {
  align-items: center;
  background: #ffead0;
  border-radius: 16px 0 0 16px;
  display: flex;
  gap: 16px;
  margin: 30px 0 0 100px;
  padding: 16px 32px;
  position:relative;
}

.team-banner-text-container {
  align-items: center;
  display: flex;
  flex: 1 0 0;
  gap: 16px;
}

.banner-img {
  height:68px;
  width: 68px;
}

.team-banner-text {
  align-items: center;
  display: flex;
  gap: 32px;

  h1 {
    color: #313335;
    // font-family: $vep-font-family;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 67.2px;
  }
}

.three-dots {
  cursor: pointer;
  
  &:hover{
    background-color: #dbdbdb;
    border-radius: 100%;
    padding: .5rem;
    opacity: 1;
  }
}



.open-modal {
  background: #ffead0;;
  border: none;
  border-radius: 0;

}

.withdrawal-modal-hidden {
  background: #fdfdfd;
  height: 37px;
  width: 148px;
}

.withdrawal-modal {
  align-items: flex-start;
  background: #FEFEFE;
  border-radius: 8px;
  display: inline-flex;
  flex-direction: column;
  height: 37px;
  gap: 10px;
  padding: 10px;
  position: relative;
  width: 148px;
}

.withdraw-btn {
  align-items: flex-start;
  background:#FEFEFE ;
  border: none;
  border-radius: 0; //delete one of the border radius
  border-radius: 8px;
  display: inline-flex;
  flex-direction: column;
  gap: 10px;
  height: 37px;
  padding: 10px;
  position: relative;
  width: 148px;
}

.withdraw-text {
  color: #d80000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 16.8px;
  margin: -1px 0 0;
  position: relative;
  white-space: nowrap;
  width: fit-content;

}

.confirmation-modal-hidden {
  align-items: flex-end;
  background-color: #fdfdfd;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-left: 500px;
  padding: 16px;
  position: relative;
  width: 312px;
}

.label-text {
  height: 40px;
  width: 280px;
  margin: 16px 0 32px 0; 
}

.confirmation-modal {
  align-self: stretch;
  color: #000000
}


.confirmation-btns {
  flex-direction: row;
  align-items: center;
  display: inline-flex;
  gap: 16px;
  position: relative;
  flex: 0 0 auto !important;
}

.stay-btn {
  align-items: center;
  background-color: #fdfdfd;
  border: 1px solid;
  border-color: #8048c7;
  border-radius: 4px;
  display: inline-flex;
  gap: 8px;
  justify-content: center;
  padding: 6px 12px;
  position: relative;
}

.withdraw-final-btn {
  align-items: center;
  background-color: #f99312;
  border-radius: 4px;
  display: inline-flex;
  gap: 8px;
  justify-content: center;
  padding: 6px 12px;
  position: relative;
}


.custom-modal-text {
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 14px;
  font-weight: 400;
}








.role-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.software-engineer-container {
  align-items: flex-start;
  background-color: #fdfdfd;
  border-radius: 16px;
  display: inline-flex;
  flex-direction: column;
  gap: 32px;
  margin: 37px 25px ;
  padding: 32px;
}

.swe-text-container {
  background-color: white;
  border-radius: 16px;
  
  label {           //TODO: check text to match Figma
    color: #000;
    font-family: "Inter-Medium", Helvetica;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: 44.8px;
    margin: 0;
    white-space: nowrap;
  }
}

.team-card-container{
  align-items: flex-start;
display: inline-flex;
gap: 24px;
position: relative;
}

.ux-designers-container {
  align-items: flex-start;
  background-color: #fdfdfd;
  display: inline-flex;
  flex-direction: column;
  gap: 32px;
  margin: 37px 37px 37px 0px;
  padding: 32px;
}

.ux-designers-text-container {
  height: 45px;
  width: 208px;
  label {
    color: #000;
    font-family: "Inter-Medium", Helvetica;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: 44.8px;
    margin: 0;
    white-space: nowrap;
  }
}

