@import 'scss/variables';
@import 'scss/mixins';

.waitlist-banner {
  display: flex; 
  box-sizing: border-box;
  justify-content: flex-start;
  margin: 16px 16px 0 16px;

  .banner-content {
    @include alert-banners(
      $alert-warning-background,
      $alert-warning-text-color,
      100%
    );
    justify-content: flex-start;
    flex-direction: row;
    width: 100%;

    p,
    a {
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
    }
  }
}
