.update-email-confirmation {
    background-color: white;
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
    justify-content: center;
    text-align: center;
    
    .content {
        margin-top: 20vh;
        width: 400px;

        h1 {
            font-size: 34px;
            margin-bottom: 30px;
        }

        p {
            font-size: 20px;
        }

        .resend {
            color: purple;
            cursor: pointer;
            font-size: 16px;
            margin-top: 50px;
        }
    }
}