.availability-container {
    background-color: #f5f5f5;
    border-radius: 5px;
    width: 600px;
    padding: 16px 32px;

    h2 {
        font-size: 14px;
        margin: 0;
    }

    hr {
        border: 1px solid #d9d9d9;
    }
    
    p {
        font-size: 15px;
        margin-top: 30px;
    }

    .timezone-input-container {
        align-items: center;
        column-gap: 60px;
        display: flex;
        flex-direction: row;

        .css-pqjvzy-MuiSvgIcon-root-MuiSelect-icon {
            height: .8em;
            top: 3.5px;
            width: .8em;
        }
    }

    .day-availability-input-banner {
        align-items: center;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 23px 0px;
        margin-left: -10px;
        min-height: 45px;

        h2 {
            width: 70px;
        }

        .left-banner {
            align-items: flex-start;
            display: flex;
            flex-direction: row;
            height: fit-content;
            width: 100%;

            h2 {
                align-self: center;
            }


            .check-day {
                align-self: flex-start;
                display: flex;
            }

            .timeslots-container {
                display: flex;
                flex-direction: column;
                row-gap: 15px;
                width: 100%;

            }
        }

        .right-banner {
            display: flex;
        }

        .right-banner > * {
            margin: 8px 5px 0 5px;
        }

        .timeslot-input {
            align-items: center;      
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 100%;

            h4 {
                font-weight: 600;
                letter-spacing: -3px;
                margin: 0 15px 0 12px;
            }

            .icon {
                margin: 0 10px;
            }

            .left-banner {
                align-items: center;
            }
        }
    }
}