.availability-container {
    background-color: #f5f5f5;
    border-radius: 5px;
    margin: 30px auto;
    padding: 15px 45px 35px 25px;
    width: 550px;

    h2 {
        font-size: 14px;
        margin: 0;
    }

    hr {
        border: 1px solid #d9d9d9;
    }

    p {
        margin-top: 30px;
        font-size: 15px;
    }

    .timezone-input-container {
        display: flex;
        flex-direction: row;
        column-gap: 60px;
        align-items: center;

        .css-pqjvzy-MuiSvgIcon-root-MuiSelect-icon {
            width: .8em;
            height: .8em;
            top: 3.5px;
        }
    }

    .day-availability-input-banner {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        align-items: center;
        margin: 23px 0px;
        margin-left: -10px;

        h2 {
            width: 70px;
        }

        .left-banner {
            display: flex;
            flex-direction: row;
            align-items: center;
        }

        .right-banner > * {
            margin-left: 5px;
        }

        .timeslot-input {
            display: flex;
            flex-direction: row;
            align-items: center;

            p {
                margin: 0 10px;
                font-weight: 600;
                letter-spacing: -3px;
            }

            .icon {
                margin: 0 10px;
            }
        }
    }
}