.availability-container {
    background-color: #fafafa;
    border-radius: 5px;
    padding: 16px 32px;
    width: 590px;

h2 {
        font-size: 14px;
        margin: 0;
    }

    hr {
        border: 0.5px solid #d9d9d9;
    }

    p {
        font-size: 14px;
        font-weight: 500;
        margin-top: 16px;
    }

    .availability-requirement{
        font-size: 15px;
        font-style: italic;
        font-weight: 600;
        margin-bottom: 16px;
    }

    .timezone-input-container {
        align-items: center;
        column-gap: 60px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .timezone-input {
            font-size: 16px;
            width: 328px;
        }
        .css-pqjvzy-MuiSvgIcon-root-MuiSelect-icon {
            height: .8em;
            top: 3.5px;
            width: .8em;
        }

        h2 {
            font-size: 22px;
            font-weight: 400;
        }

        .MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
            border-color: #0D47A1;
        }
    }

    .day-availability-input-banner {
        align-items: center;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 16px 0px;
        margin-left: -10px;
        min-height: 45px;

h2 {
            width: 70px;
        }

        .left-banner {
            align-items: flex-start;
            display: flex;
            flex-direction: row;
            height: fit-content;
            width: 100%;

h2 {
                align-self: center;
                font-size: 16px;
                font-weight: 300;
            }

            .check-day {
                align-self: flex-start;
                display: flex;
                margin-top: 5px;
            }

            .timeslots-container {
                display: flex;
                flex-direction: column;
                margin-left: 20px;
                row-gap: 15px;
                width: 100%;
            }

            .unavailable {
                margin-left: 20px;
            }
        }

        .right-banner {
            align-items: center;
            display: flex;
        }

        .right-banner > * {
            margin: 8px 5px 0 5px;
        }

        .clickable-icon {
            align-items: center;
            border-radius: 50%;
            display: flex;
            height: 45px;
            justify-content: center;
            margin: 0 3px;
            width: 45px;
        }

        .clickable-icon:hover {
            background-color: rgba(0,0,0,.08);
        }

        .timeslot-input {
            align-items: center;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 100%;

h4 {
                font-weight: 600;
                letter-spacing: -3px;
                margin: 0 15px 0 12px;
            }

            .icon {
                align-self: center;
                cursor: pointer;
                margin: 0 10px;
            }

            .disabled {
                color: gray;
                cursor:not-allowed;
            }

            .react-icon {
                cursor: pointer;
                height: 20px;
                margin: 0 10px;
                width: 20px;
            }

            .left-banner {
                align-items: center;
            }
        }
    }
}