.project-container {
  align-items: center;
  display: flex;
  flex-direction: column;
}

ul {
  list-style: none;
}

li {
  border: 1px dotted rgb(57, 54, 54);
  margin: 20px;
  padding: 50px;
  text-align: center;
}

.technologies {
  background-color: rgb(126, 125, 125);
  border-radius: 5%;
  color: white;
  font-weight: 500;
  margin: 5px;
  padding: 5px;
}
