.sidebar-container.active {
  width: 272px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
  transition: 0.3s ease-in-out;

  .sidebar {
    display: none;
  }

  .current-user {
    display: flex;
    align-items: center;
    margin: 133px 27px 50px 0px;
    padding: 19px;
  }

  .user-name {
    color: #313335;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 6px;
  }

  .edit-profile {
    color: #d9d9d9;
    font-size: 11px;
    text-decoration: none;
  }

  .image {
    background-color: #c4c4c4;
    border-radius: 100%;
    height: 75px;
    margin: auto;
    width: 75px;
  }

  .nav-links {
    display: flex;
    flex-direction: column;
    margin: 45px;
  }

  .link {
    color: #000;
    border-radius: 4px;
    font-size: 14px;
    text-decoration: none;
    margin-bottom: 25px;
    padding: 8px 16px;
  }

  .link:hover {
    color: #ffffff;
    background-color: #8048c8;
  }
}
