.hide-sidebar {
  display: none;
}

.sidebar-container {
  background: #ffffff;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  transition: 0.3s ease-in-out;
  width: 272px;

  .menu-btn {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    left: 10px;
    position: absolute;
    top: 25px;
  }

  i {
    background-color: #ffffff;
    border-radius: 2px;
    height: 4px;
    margin: 4px;
    width: 32px;
  }

  .current-user {
    align-items: center;
    display: flex;
    margin: 133px 27px 50px 0px;
    padding: 19px;
  }

  .user-name {
    color: #313335;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 6px;
  }

  .edit-profile {
    color: #d9d9d9;
    font-size: 11px;
    text-decoration: none;
  }

  .image {
    background-color: #c4c4c4;
    border-radius: 100%;
    height: 75px;
    margin: auto;
    width: 75px;
  }

  .nav-links {
    display: flex;
    flex-direction: column;
    margin: 45px;
  }

  .link {
    color: #000;
    border-radius: 4px;
    font-size: 14px;
    margin-bottom: 25px;
    padding: 8px 16px;
    text-decoration: none;
  }

  .link:hover {
    color: #ffffff;
    background-color: #8048c8;
  }
}
