.chat-dialog-container {
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 8px 17px -6px rgba(0, 0, 0, 0.7);
  cursor: default;
  height: 470px;
  padding: 0 20px;
  position: fixed;
  right: 173px;
  top: 90px;
  width: 260px;
  z-index: 999999;

  .chat-header-main,
  .chat-header-messages {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 0 -13px 0 -3px;

    .back-arrow {
      align-items: center;
      column-gap: 5px;
      display: flex;
      margin-left: -10px;

      .group-link {
        cursor: pointer;

        &:hover {
          color: #f29e34;
          text-decoration: underline;
        }
      }

      h5 {
        font-size: 13px;
        font-weight: 400;
        margin: 11px 0;
        max-width: 190px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }

      &.messages {
        margin-bottom: -3px;
        margin-top: -3px;
      }
    }

    .main-icons {
      align-items: center;
      column-gap: 8px;
      display: flex;
    }
  }

  .chat-header-messages {
    border-bottom: 1px solid #86888a;
    margin: 0 -20px;
    padding: 8px 7px 8px 17px;

    .back-arrow {
      h5 {
        margin: 0;
      }
    }
  }

  svg {
    cursor: pointer;

    &:hover {
      color: #f29e34;
    }
  }

  p {
    text-align: center;
  }
}
