@import 'scss/mixins';

.avatar-grid.small {
  @include private-chat-avatar-grid(32px, 32px, 32px);
}

.avatar-grid.medium {
  @include private-chat-avatar-grid(48px, 48px, 48px);
}

.group-photo-container.small {
  @include group-profile-picture-grid(0px, 32px, 32px);
}

.group-photo-container.medium {
  @include group-profile-picture-grid(0px, 48px, 48px);
}

.group-photo-container.large {
  @include group-profile-picture-grid(30px, 100px, 100px);

  .camera-icon {
    align-items: center;
    background-color: #ecebeb;
    border-radius: 50%;
    display: flex;
    height: 32px;
    justify-content: center;
    position: absolute;
    right: 95px;
    top: 97px;
    width: 32px;
  }
}
