.AllTickets {
  display: flex;
  width: 100%;
  border: 1px solid black;
  justify-content: center;
  gap: 10px;
}

.container {
  display: flex;
  flex-direction: column;
}

.data {
  background-color: grey;
}

.textFieldStyle {
  width: 100%;
  padding-top: 20px;
}

.createTicketBox {
  display: flex;
  flex-direction: row;
  gap: 30px;
}
