.ticket-dialog {
  background-color: #EEE;
  box-sizing: border-box;

  &.MuiDialogContent-root {
    padding: 48px;
  }

  .close-dialog {
    cursor: pointer;
    position: absolute;
    right: 16px;
    top: 16px; 
  }

  .ticket-fields { 
    display: flex;
    gap: 146px;
    justify-content: space-evenly;
    
    .text-label {
      align-items: center;
      display: flex;
      margin-bottom: 8px;
      
      span { 
        margin-left: 8px;
      }
    }
    
    .ticket-text-fields {
      display: flex;
      flex-direction: column;
      gap: 32px;
      
      .text-input {
        background-color: #fff;
        margin-left: 32px;
        
        .MuiInputBase-root {
          padding:0;
        }
        
        .MuiOutlinedInput-input {
          padding: 8px 16px;
          width: 438px;
        }
        .MuiOutlinedInput-notchedOutline {
          border-radius: 4px;
          border-color: #212121;
        }
      }
    }

    .ticket-dropdown-fields {
      display: flex;
      flex-direction: column;
      gap: 32px;
      
      .MuiOutlinedInput-input {
        background: #fff;
        box-sizing: border-box;
        padding: 8px;
      }
      
      .MuiOutlinedInput-notchedOutline {
        border: none;
      }
      
      .MuiSelect-iconOutlined {
        display: none;
      }
      
      .status {
        .select {
          margin-left: 32px;
          font-size: 16px;
          width: calc(100% - 32px); // 32px from margin

        }
      }

      .ticket-creator {
        align-items: center;;
        background-color: #fff;
        border-radius: 4px;
        box-sizing: border-box;
        display: flex; 
        gap: 16px;
        margin-left: 32px;
        padding: 8px;

        .creator-info {
          p {
            margin: 0;
          }
        }
      }

      .assignee {
        .select {
          margin-left: 32px;
          width: calc(100% - 32px); // 32px from margin
        }
      }

      .due-date {
        .select-date {
          background-color: #fff;
          border-radius: 4px;
          margin-left: 32px;
          padding: 8px 12px 8px 16px;

          .MuiOutlinedInput-input {
            line-height: 0px;
            padding: 0;
          }

          .MuiSvgIcon-root {
            color: #212121;
          }

          .MuiIconButton-root {
            padding: 0;
          }
        }
      }
    }
  }

  .buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
  }
}

.MuiPopover-root, .assignee, .ticket-creator {
  .MuiPaper-root {
    margin-top: 4px;
  }

  .MuiMenuItem-root {
    padding: 8px;
  }

  .unassigned-card, .user-card, .creator-info {
    p {
      margin: 0;
    }

    .name {
      color: #212121;
      font-size: 16px;
      line-height: 24px;
    }

    .role {
      color: #616161;
      font-size: 14px;
      line-height: 20px;
    }
  }
  
  .unassigned-card, .user-card {
    align-items: center;
    display: flex;
    gap: 16px;
    
    .assignee-thumbnail {
      border-radius: 100%;
      height: 40px;
      width: 40px;
    }
  }
}