.feedback-message {
  font-size: 38px;
  font-weight: 600;
  line-height: 53.2px;
  padding-top: 135px;
  position: absolute;
}

.password-modal {
  background-color: #fefefe;
  display: flex;
  height: 100%;
  justify-content: center;
  left: 0;
  position: fixed;
  top: 97px;
  width: 100%;
  z-index: 999;

  .close-modal-btn {
    cursor: pointer;
    left: 533px;
    position: relative;
    top: 213px;
  }

  .modal-content {
    background-color: #fefefe;
    height: 309px;
    padding-top: 212px;
    width: 529px;
  }

  .modal-title {
    font-size: 24px;
    font-weight: 600;
    line-height: 33.6px;
    padding-top: 55px;
  }

  .modal-body {
    font-size: 16px;
    font-weight: 400;
    line-height: 22.4px;
    padding: 15px 0;
  }

  .email-input {
    background-color: #ecebeb;
    border: none;
    font-size: 16px;
    height: 40px;
    width: 448px;
  }

  .reset-btns {
    display: flex;
    gap: 35px;
    justify-content: flex-end;
    padding-top: 35px;
  }

  .cancel-reset {
    background: #fefefe;
    border: 1px solid #8048c8;
    border-radius: 4px;
    color: #8048c8;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    line-height: 22.4px;
    padding: 10px 16px;
  }

  .reset-password-btn {
    background: #fa9413;
    border: none;
    border-radius: 4px;
    color: #313335;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    line-height: 22.4px;
    padding: 10px 16px;
  }
}
