@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap'); //can be added globally if you link this one

.create-project {
  font-family: 'Inter', sans-serif;

  .heading {
    font-size: 36px;
    font-weight: 500;
  }

  .project-form {
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  label {
    font-size: 20px;
    margin-top: 15px;
  }

  .photo-container {
    background-color: #d9d9d9;
    border: 1px dashed #000000;
    height: 129px;
    position: relative;
    width: 550px;
  }

  .photo {
    left: 190px;
    position: absolute;
  }

  #photo {
    display: none;
  }

  input,
  select,
  textarea {
    width: 550px;
  }

  .checkbox {
    width: 15px;
  }

  button {
    margin: 15px;
    text-transform: uppercase;
  }
}
