.columns-wrapper {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  gap: 32px;
  justify-content: space-between;
  padding: 33px 38px 15px 33px;

  .status-column {
    background-color: #e0e0e0;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    height: fit-content;
    min-width: 241px;
    padding: 8px;

    .column-header {
      align-items: center;
      background-color: white;
      border-radius: 4px;
      box-shadow: 0px 1px 3px 1px rgba(26, 35, 126, 0.15),
        0px 1px 2px 0px rgba(26, 35, 126, 0.3);
      display: flex;
      flex-direction: row;
      font-size: 16px;
      font-weight: 700;
      height: 30px;
      padding: 8px;

      span {
        margin-left: 16px;
      }
    }

    .tickets {
      min-height: 1px;
    }
  }
}

.full-height {
  height: 100%;
}
