.ticket-icon {
    font-size: 22px;
}

.comments-section-label {
    column-gap: 12px;
    display: flex;
}

.comments-container {
  width: 100%;

.comment-input-banner {
    display: flex;
    align-items: center;

    .comment-input {
        background-color: #fff;
        border-radius: 5px;
        box-sizing: border-box;
        font-size: 14px;
        width: 100%;

        .MuiInputBase-root {
          padding: 0;
        }
        
        .MuiOutlinedInput-input {
          padding: 8px 0 8px 16px;;
        }

        .MuiOutlinedInput-notchedOutline {
          border-radius: 4px;
          border-color: #212121;
        }
    }

    input:focus {
        outline: none;
    }

}
}

.comment-input-banner, .comment-container {
  img {
    border-radius: 50%;
    height: 24px;
    margin-right: 8px;
    width: 24px;
  }
}


.comment-author {
    p {
        font-size: 16px;
        font-weight: 600;
        letter-spacing: .5px;
    }
}

.comment-content {
    margin: 5px 0;

    p {
        font-size: 16px;
    }
}

.comment-date-time {
    p {
        color: rgb(87, 87, 87);
        font-size: 15px;
    }
}


.comment-container {
    display: flex;
    flex-direction: row;
    margin-top: 15px;
}

.comment-card {
    background-color: white;
    border: 1px solid #212121;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    padding: 12px ;
    width: 90%;

    p {
        margin: 0;
    }
}

.comment-top-banner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.comment-actions {
    column-gap: 15px;
    display: flex;
    flex-direction: row;
}

.edit-comment {
    border-radius: 5px;
    border-color: rgb(185, 185, 185);
    border-style: solid;
    height: 20px;
    padding: 3px 5px;
    width: 95%;
}

.REPLY {
    margin-left: 45px;
}

.replies-container {
    padding-left: 45px;
}