.ticket-icon {
    font-size: 22px;
}

.comments-section-label {
    column-gap: 12px;
    display: flex;
}

.comments-container {
  width: 100%;

  .comment-input-banner {
    display: flex;
    align-items: center;

    img {
      align-self: flex-start;
      margin-top: 5px;
    }

    .comment-input {
      background-color: #fff;
      border-radius: 5px;
      box-sizing: border-box;
      font-size: 14px;
      width: 100%;

      .MuiInputBase-root {
        padding: 0;
      }
      
      .MuiOutlinedInput-input {
        padding: 8px 0 8px 16px;;
      }

      .MuiOutlinedInput-notchedOutline {
        border-radius: 4px;
        border-color: #212121;
      }
    }

    input:focus {
        outline: none;
      }
    }
        
    .comment-thumbnail {
      margin-top: 5px;
    }
}
        
.comment-input-banner, .comment-container {
  img {
    border-radius: 50%;
    height: 24px;
    margin-right: 8px;
    width: 24px;
  }
}


.comment-author {
    p {
        font-size: 16px;
        font-weight: 600;
        line-height: 24px;
        letter-spacing: .5px;
    }
}

.comment-content {
    p {
        font-size: 16px;
    }
}

.comment-date-time {
    p {
        color: rgb(87, 87, 87);
        font-size: 14px;
    }
}


.comment-container {
    display: flex;
    flex-direction: row;
    margin-top: 15px;
}

.comment-card {
    background-color: white;
    border: 1px solid #212121;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 8px 16px 12px 16px;
    width: 90%;

    p {
        margin: 0;
    }
}

.comment-top-banner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.comment-actions {
    column-gap: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .like-button {
      display: flex;
      align-items: center;

      p {
        font-size: 16px;
        margin: 0 0 5px 5px;
      }

      .MuiSvgIcon-root {
        color: #1A237E
      }
    }

    .author-actions {
      align-items: center;
      display: flex;
      justify-content: row;
      
      .MuiSvgIcon-root {
        font-size: 5px;
        margin: 0 5px;
      }

      .MuiButtonBase-root {
        color: #1A237E;
        font-size: 14px;
        text-transform: none;
      }
    }
}

.edit-comment {
    border-radius: 5px;
    border-color: rgb(185, 185, 185);
    border-style: solid;
    height: 20px;
    padding: 3px 5px;
    width: 95%;
}

.REPLY {
    margin-left: 45px;
}

.replies-container {
    padding-left: 45px;
}