.ticket-dropdown-fields {
  display: flex;
  flex-direction: column;
  width: 318px;
  
  .dropdown-fields {
    align-items: flex-end;
    display: flex; 
    flex-direction: column;
    gap: 32px;
    margin-bottom: 58px;
  }

  .MuiOutlinedInput-input {
    background: #fff;
    box-sizing: border-box;
    padding: 8px;
  }
  
  .MuiOutlinedInput-notchedOutline {
    border: none;
  }

  .status>.select, 
  .ticket-creator, 
  .assignee>.select, 
  .due-date>.select-date {
    margin-left: 32px;
    width: 204px; 
  }
  
  .status {
    .select {
      font-size: 16px;
      margin-left: 32px;
    }
  }

  .ticket-creator {
    align-items: center;;
    background-color: #fff;
    border-radius: 4px;
    box-sizing: border-box;
    display: flex;
    gap: 16px;
    padding: 8px;

    .creator-info {
      p {
        margin: 0;
        white-space: nowrap;
      }
    }
  }

  .assignee {
    .select {
      .MuiSelect-iconOutlined {
        display: none;
      }
      .MuiOutlinedInput-input {
        padding-right: 0;
      }
    }
  }

  .due-date {
    .select-date {
      background-color: #fff;
      border-radius: 4px;
      box-sizing: border-box;
      height: 40px;

      .MuiOutlinedInput-input {
        line-height: 0px;
        padding: 8px 12px 8px 16px;
      }

      .MuiOutlinedInput-root {
        height: 100%;
      }

      .MuiSvgIcon-root {
        color: #212121;
      }
    }
  }
}