@import 'scss/variables';
@import 'scss/mixins';

.info {
  @include alert-banners($alert-info-background, $alert-info-text-color);
}

.warning {
  @include alert-banners($alert-warning-background, $alert-warning-text-color);

  p {
    font-size: 16px;
    font-size: 400;
    line-height: 24px;
  }
}

.success {
  @include alert-banners($alert-success-background, $alert-success-text-color);
}

.signup-screen {
  display: flex;
  flex-direction: column;
}

.signup-banner {
  align-items: center;
  display: flex;
  justify-content: center;
}

.pwd-match {
  color: rgb(48, 161, 192);
  margin-top: 16px;
}

.pwd-mismatch {
  color: red;
  margin-top: 16px;
}

.pwd-reveal {
  @include reveal-icon(1);
}

.pwd-reveal-gray {
  @include reveal-icon(0.3);

  &:hover {
    opacity: 1;
  }
}

.signup-header {
  align-self: center;

  h1 {
    font-size: 48px;
    margin: 30px 0;
  }

  h2 {
    font-size: 30px;
    margin: 0;
  }
}

.signup-container {
  border-radius: 2% / 1%;
  display: flex;
  flex-direction: column;
  padding: 30px;
  width: 450px;

  form {
    padding: 36.8px 24px 16px 8px;
  }

  form input {
    background-color: rgb(241, 241, 241);
    border-radius: 5px;
    border-style: none;
    height: 38px;
    font-size: 16px;
    margin: 5px 0 15px 0;
    padding: 0 10px;
    width: 400px;
  }

  form input:focus {
    border-style: none;
    outline: none;
  }
}

.adorned-input {
  display: flex;
}

h3,
h4 {
  margin: 0;
  text-align: center;
}

.honeycomb {
  margin-top: -100px;
  margin-left: -100px;
  margin-right: 100px;

  img {
    height: 400px;
    object-fit: cover;
    width: 400px;
  }
}

.pwd-input {
  input {
    @include input-fields(4.8px 32px 4.8px 6.4px, 84.8%);
  }

  margin: 0 0 16px 16px;
}

.eyecon {
  bottom: 5px;
  position: relative;
  right: 55px;
}

.form-btn {
  margin: 24px 16px 0 16px;

  button {
    background-color: #fa9413;
    border: none;
    border-radius: 3px;
    box-sizing: border-box;
    cursor: pointer;
    font-size: 18px;
    margin-top: 5px;
    margin-left: -15px;
    padding: 13px;
    width: 415px;
  }

  button:disabled {
    background-color: #ecebeb;
    color: black;
    cursor: default;
  }
}

#signup-agreement {
  margin: 20px 0;
}

.password-errors {
  margin: -8px 0 10px 0;
}

.password-criteria {
  display: flex;
  font-size: 14px;

  p {
    margin: 2px 0;
  }
}

.criteria-not-met {
  color: #d90000;
  margin: 2px 0;
}

.criteria-met {
  color: #23a6a1;
  margin: 2px 0;
}

.criteria-check {
  height: 10px;
  margin-right: 5px;
  width: 10px;
}
