@import 'scss/variables';
@import 'scss/mixins';

/* --------------------------- */

.pwd-match {
  color: rgb(48, 161, 192);
  margin-top: 16px;
}

.pwd-mismatch {
  color: red;
  margin-top: 16px;
}

.pwd-reveal {
  @include reveal-icon(1);
}

.pwd-reveal-gray {
  @include reveal-icon(0.3);

  &:hover {
    opacity: 1;
  }
}

.signup-container {
  border-radius: 2% / 1%;
  box-shadow: 0 8px 17px -6px rgba(0, 0, 0, 0.7);
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin-top: 48px;
  padding: 32px;
  width: 320px;

  button {
    @include form-buttons();
  }

  form {
    padding: 36.8px 24px 16px 8px;
  }

  input {
    @include input-fields(4.8px 6.4px, 100%);
  }
}

h3, h4 {
  margin: 0;
  text-align: center;
}

.form-input {
  margin: 0 16px 16px 16px;
}

.pwd-input {
  div {
    position: relative;
  }

  input {
    @include input-fields(4.8px 32px 4.8px 6.4px, 84.8%);
  }

  margin: 0 0 16px 16px;
}

.form-btn {
  margin: 24px 16px 0 16px;
}