@import '../../scss/mixins.scss';

.image-modal {
  &__actions {
    margin: 32px 0 16px 0;
    padding: 0;
  }

  &__close-btn {
    cursor: pointer;
    padding: 0 10px 20px 0;
    width: 24px;
    height: 24px;
  }

  &__dialog-content {
    @include dialog-content;
  }

  &__empty-avatar {
    @include empty-avatar;
  }

  &__file-input {
    display: none;
  }

  &__header {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }

  &__title {
    font-size: 24px !important;
    font-weight: 700 !important;
    line-height: 32px !important;
    text-align: center;
    padding: 16px !important;
  }
}
