// .navbar {
//   background-color: #313335;
//   left: 0;
//   position: fixed;
//   right: 0;
//   top: 0;
//   // transition: 0.2s;
// }

// .navbar-colored {
//   background-color: #313335;
//   left: 0;
//   position: fixed;
//   right: 0;
//   top: 0;
//   // transition: 0.3s;
// }

.navbar-wrapper {
  display: flex;
  gap: 58px;
  justify-content: flex-end;
  width: 100%;
}

nav {
  align-items: center;
  background-color: #313335;
  display: flex;
  height: 65px;
  justify-content: space-between;
  left: 0;
  padding: 16px 32px;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 10;

  .header-list {
    align-items: center;
    display: flex;
    gap: 16px;
    // padding: 0px 58px 0px 40%;
  }

  .header-link {
    color: var(--white-ffffff, #fefefe);
    font-size: 16px;
    font-weight: 700;
    line-height: 22.4px;
    text-decoration: none;
  }

  .nav-links {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    & .link:hover {
      color: #f29e34;
    }
  }

  .link {
    color: #ffffff;
    font-size: 1vw;
    font-weight: 700;
    padding: 0 10px;
    text-decoration: none;
  }

  .notifications {
    align-items: center;
    display: flex;
    justify-content: flex-end;
    width: 100%;

    .messages-icon {
      align-items: center;
      background-color: #ecebeb;
      border-radius: 50%;
      display: flex;
      justify-content: center;

      .chat-icon {
        cursor: pointer;
        padding: 13.5px;
      }

      &:hover {
        background-color: #d0d0d0;
      }
    }
  }

  .notification-count {
    background-color: #f29e34;
    border-radius: 50%;
    color: #fff;
    display: flex;
    font-weight: 700;
    height: 20px;
    justify-content: center;
    position: absolute;
    right: 120px;
    top: 21px;
    width: 20px;
  }

  .auth-btn {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
  }

  .sign-up {
    background: var(--apricot-fa-9413, #fa9413);
    border-radius: 4px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    color: var(--charcoal-313335, #313335);
    font-size: 16px;
    font-weight: 600;
    line-height: 22.4px;
    padding: 6px 12px;
    text-decoration: none;
  }

  .log-in {
    background: var(--white-ffffff, #fefefe);
    border: 1px solid var(--orchid-8048-c-8, #8048c8);
    border-radius: 4px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    color: var(--orchid-8048-c-8, #8048c8);
    font-size: 16px;
    font-weight: 600;
    line-height: 22.4px;
    padding: 6px 12px;
    text-decoration: none;
  }
}
