.navbar-colored {
  background-color: #353131e8;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  transition: 0.3s;
}

.navbar {
  background-color: #35313100;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  transition: 0.2s;
}

nav {
  align-items: center;
  background-color: #353131;
  display: flex;
  height: 53px;
  justify-content: space-between;
  padding: 20px;
  position: relative;
  z-index: 1;

  .menu-btn {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    left: 10px;
    position: absolute;
    top: 25px;
  }

  i {
    background-color: #ffffff;
    border-radius: 2px;
    height: 4px;
    margin: 4px;
    width: 32px;
  }

  .nav-links {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    & .link:hover {
      color: #f29e34;
    }
  }

  img {
    padding-left: 65px;
  }

  .link {
    color: #ffffff;
    font-size: 1vw;
    font-weight: 700;
    padding: 0 10px;
    text-decoration: none;
  }

  .notifications {
    align-items: center;
    display: flex;
  }

  .notification-count {
    background-color: #f29e34;
    border-radius: 50%;
    color: #fff;
    display: flex;
    font-weight: 700;
    height: 20px;
    justify-content: center;
    position: absolute;
    right: 120px;
    top: 21px;
    width: 20px;
  }

  .image {
    background-color: #c4c4c4;
    border-radius: 100%;
    height: 50px;
    margin: auto;
    width: 50px;
  }

  .auth-btn {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    gap: 22px;
    width: 30%;
  }

  .sign-up {
    background-color: #f29e34;
    border-radius: 10px;
    color: #000;
    padding: 15px 30px;
  }

  .log-in {
    background-color: #fefefe;
    border-radius: 10px;
    color: #000;
    padding: 15px 30px;
  }
}
