.avatar-icon {
  height: 121px;
  width: min-content;
}

.avatar-img,
.non-clickable {
  border-radius: 50%;
  cursor: pointer;
  height: 75px;
  object-fit: cover;
  width: 75px;
}

// Main
.avatar-default-picture {
  background-color: #ffa726;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  height: 100px;
  justify-content: flex-end;
  margin: 20px 19px 0 20px;
  text-align: center;
  width: 100px;
  cursor: default;
}

.avatar-default-cameraIcon {
  background-color: #ecebeb !important;
  left: 64px;
  top: -31px;
  width: 32px;
  height: 32px;
  transform: scaleX(-1);
}

.non-clickable {
  border: 4px solid #8048c8;
  cursor: default;
}

// Navbar
.notifications .avatar-img,
.non-clickable {
  height: 50px;
  padding-left: 0;
  width: 50px;
}

// Image Modal
.image-modal .avatar-img,
.non-clickable {
  height: 250px;
  width: 250px;
}

// User Profile
.userProfile .avatar-default-picture {
  display: flex;
  flex-direction: column;
  height: 40px;
  justify-content: center;
  margin: 0;
  text-align: center;
  width: 40px;
  cursor: default;
}

// Edit Profile
.editprofile .avatar-default-picture {
  display: flex;
  flex-direction: column;
  height: 100px;
  justify-content: flex-start;
  margin: 20px 19px 0 20px;
  text-align: center;
  width: 100px;
  cursor: default;
}

// SideBar
.sidebar-container .avatar-img,
.non-clickable {
  height: 100px;
  width: 100px;
}

// Setup Profile
.setupProfile .avatar-img,
.non-clickable {
  height: 100px;
  margin: 0 0 10px 0;
  width: 100px;
}
.setupProfile .avatar-default-picture {
  display: flex;
  flex-direction: column;
  height: 96px;
  justify-content: flex-start;
  margin: 0;
  width: 96px;
  cursor: default;
}
