// Variables
$color-btn: rgb(202, 207, 212);
$color-btn-active: rgb(54, 91, 123);
$color-btn-hover: rgb(79, 127, 169);
$color-input: rgb(248, 248, 248);

// Mixins
@mixin input-fields($width) {
  background-color: $color-input;
  border: 1px solid rgb(65, 82, 97);
  border-radius: 2% / 19%;
  font-size: 15px;
  height: 1.5rem;
  margin-top: 0.4rem;
  padding: 0.3rem 0.4rem;
  width: $width;
}

/* --------------------------- */

.acct-setup-page {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.form-container {
  column-gap: 12rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 3rem;
  row-gap: 3rem;
}

.profile-photo-grid {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 17rem;

  img {
    height: 17rem;
    width: auto;
  }

  input {
    @include input-fields(94%)
  }

  label {
    align-self: flex-start;
  }
}

.profile-photo {
  align-items: center;
  background-color: white;
  border: 3px groove rgb(207, 206, 202);
  border-radius: 50%;
  box-shadow: 0 10px 30px -4px rgba(0, 0, 0, 0.7);
  display: flex;
  height: 17rem;
  justify-content: center;
  margin-bottom: 2rem;
  overflow: hidden;
  width: 17rem;
}

.user-info-grid {
  border-radius: 2% / 1%;
  box-shadow: 0 8px 17px -6px rgba(0, 0, 0, 0.7);
  padding: 2rem;
  width: 20rem;

  button {
    background-color: $color-btn;
    border: none;
    border-radius: 2% / 19%;
    color: rgb(44, 56, 66);
    cursor: pointer;
    font-size: 15px;
    height: 2.2rem;
    width: 105.8%;
    
    &:active {
      background-color: $color-btn-active;
    }

    &:hover {
      background-color: $color-btn-hover;
      color: white;
    }
  }

  form {
    padding: 0 1.5rem 1rem 0.5rem;
  }

  h2 {
    margin: 0;
    margin-bottom: 2rem;
    text-align: center;  
  }

  h4 {
    align-self: flex-start;
    text-align: left;
  }

  input {
    @include input-fields(100%)
  }
}