.acct-setup-page {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.form-container {
  column-gap: 12rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 3rem;
  row-gap: 3rem;
}

.profile-photo-grid {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 27vh;
}

.profile-photo-grid img {
  background-color: white;
  border: 3px groove rgb(207, 206, 202);
  border-radius: 50%;
  box-shadow: 0 10px 30px -4px rgba(0, 0, 0, 0.7);
  height: 27vh;
  margin-bottom: 2rem;
}

.profile-photo-grid input {
  background-color: rgb(248, 248, 248);
  border: 1px solid rgb(65, 82, 97);
  border-radius: 2% / 19%;
  font-size: 15px;
  height: 1.5rem;
  margin-top: 0.4rem;
  padding: 0.3rem 0.4rem;
  width: 94%;
}

.user-info-grid {
  border-radius: 2% / 1%;
  box-shadow: 0 8px 17px -6px rgba(0, 0, 0, 0.7);
  padding: 2rem;
  width: 20rem;
}

.user-info-grid h2 {
  margin: 0;
  margin-bottom: 2rem;
  text-align: center;
}

.user-info-grid h4, .profile-photo-grid h4 {
  align-self: flex-start;
  text-align: left;
}

.user-info-grid form {
  padding: 0 1.5rem 1rem 0.5rem;
}

.user-info-grid input {
  background-color: rgb(248, 248, 248);
  border: 1px solid rgb(65, 82, 97);
  border-radius: 2% / 19%;
  font-size: 15px;
  height: 1.5rem;
  margin-top: 0.4rem;
  padding: 0.3rem 0.4rem;
  width: 100%;
}

.user-info-grid button {
  background-color: rgb(202, 207, 212);
  border: none;
  border-radius: 2% / 19%;
  color: rgb(44, 56, 66);
  cursor: pointer;
  font-size: 15px;
  height: 2.2rem;
  width: 105.8%;
}

.user-info-grid button:hover {
  background-color: rgb(79, 127, 169);
  color: white;
}

.user-info-grid button:active {
  background-color: rgb(54, 91, 123);
}