.conversations-container {
  display: flex;
  flex-direction: column;
  justify-content: center;

  .search {
    align-items: center;
    display: flex;
    justify-content: center;

    input {
      background-color: #ecebeb;
      border: none;
      border-radius: 4px;
      height: 35px;
      padding-left: 40px;
      width: 100%;
    }

    ::placeholder {
      color: #313335;
    }

    svg {
      cursor: default;
      left: 28px;
      position: absolute;
      top: 66px;

      &:hover {
        color: black;
      }
    }
  }

  .conversations-list {
    align-items: center;
    display: flex;
    flex-direction: column;
    max-height: 340px;
    margin: 15px -15px 0 -15px;
    overflow-y: auto;
    padding: 0 15px 0 15px;

    &::-webkit-scrollbar {
      background-color: #f5f5f500;
      height: 8px;
      width: 3px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: rgba(0, 0, 0, 0.2);
      border-radius: 4px;
      opacity: 0;
      transition: opacity 0.2s ease-in-out;
    }

    &:hover::-webkit-scrollbar-thumb {
      opacity: 1;
    }
  }

  .conversation-grid {
    align-items: center;
    column-gap: 10px;
    cursor: pointer;
    display: flex;
    padding: 8px 0;
    width: 100%;

    &:hover {
      background-color: #f29d3456;
      border-radius: 8px;
    }

    .avatar-grid {
      align-items: center;
      background-color: rgb(210, 208, 208);
      border-radius: 50%;
      display: flex;
      height: 48px;
      justify-content: center;
      overflow: hidden;
      width: 48px;

      img {
        height: 48px;
        padding: 0;
      }
    }

    .thread-details-grid {
      align-items: flex-start;
      display: flex;
      flex-direction: column;
      row-gap: 5px;

      h5 {
        font-weight: 400;
        margin: 0;
      }

      p {
        font-size: 11px;
        margin: 0;
        text-align: left;
      }
    }
  }

  .no-results {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 350px;
    justify-content: center;

    img {
      height: 150px;
      padding: 0;
    }

    p {
      font-size: 15px;
      line-height: 22.4px;
    }
  }
}
