@mixin input-fields($padding, $width) {
  background-color: $color-input;
  border: 1px solid rgb(65, 82, 97);
  border-radius: 2% / 19%;
  font-size: 15px;
  height: 24px;
  margin-top: 6.4px;
  padding: $padding;
  width: $width;
}

@mixin form-buttons() {
  background-color: $color-btn;
  border: none;
  border-radius: 2% / 19%;
  color: $color-light-btn-font;
  cursor: pointer;
  font-size: 15px;
  height: 35.2px;
  width: 105.8%;

  &:hover {
    background-color: $color-btn-hover;
    color: $color-dark-btn-font;
  }

  &:active {
    background-color: $color-btn-active;
  }

  &:disabled {
    opacity: 0.3;
    pointer-events: none;
  }
}

@mixin reveal-icon($opacity) {
  cursor: pointer;
  font-size: 19px;
  opacity: $opacity;
  position: absolute;
  right: 9px;
  top: 33px;
}