@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

$alert-error-background: rgb(255, 186, 186);
$alert-error-text-color: rgb(216, 0, 12);
$alert-info-background: rgb(187, 238, 255);
$alert-info-text-color: rgb(0, 85, 153);
$alert-success-background: rgb(223, 242, 191);
$alert-success-text-color: rgb(34, 119, 0);
$alert-warning-background: rgb(254, 239, 179);
$alert-warning-text-color: rgb(159, 96, 0);

$color-btn: rgb(202, 207, 212);
$color-btn-active: rgb(54, 91, 123);
$color-btn-hover: rgb(79, 127, 169);
$color-dark-btn-font: #ffffff;
$color-light-btn-font: rgb(44, 56, 66);
$color-input: rgb(248, 248, 248);

// View and Edit Profile scss variables
$vep-font-family: 'Inter';
$vep-font-size: 14px;
$vep-font-weight: 400;
$vep-line-height: 20px;
$vep-margin: 20px;
$vep-default-color: #000000;
$vep-default-font: (
  family: $vep-font-family,
  size: $vep-font-size,
  weight: $vep-font-weight,
  line-height: $vep-line-height,
);
