$color-btn: rgb(202, 207, 212);
$color-btn-active: rgb(54, 91, 123);
$color-btn-hover: rgb(79, 127, 169);
$color-dark-btn-font: #ffffff;
$color-light-btn-font: rgb(44, 56, 66);
$color-input: rgb(248, 248, 248);