.footer-container {
  align-items: center;
  background-color: #353131;
  bottom: 0;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  height: fit-content;
  // margin-top: 70px;
  padding: 20px 20px 0 20px;
  position: relative;
  row-gap: 20px;
  z-index: 1;

  a {
    color: #ffffff;
    font-size: 1vw;
    font-weight: 700;
    padding: 0 10px;
    text-decoration: none;

    &:hover {
      color: #f29e34;
    }
  }
}