.edit-chat-container {
  display: flex;
  flex-direction: column;
  height: 465px;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 0 4px;
  row-gap: 35px;

  .members-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    .members-list {
      flex-direction: column;
      row-gap: 16px;
      display: flex;
      padding: 8px 0 8px 8px;

      .you-identifier {
        font-weight: 600;
      }
    }

    p {
      margin: 0;
      padding: 0 0 0 8px;
      font-size: 16px;
      font-family: 'Roboto';
      line-height: 24px;
    }
  }
}
