.pwd-match {
  color: rgb(48, 161, 192);
}

.pwd-mismatch {
  color: red;
}

.pwd-reveal {
  cursor: pointer;
  height: 17px;
  position: absolute;
  right: 45.8%;
  top: 33.1%;
}

.pwd-reveal-gray {
  cursor: pointer;
  filter: invert(50%);
  height: 17px;
  position: absolute;
  right: 45.8%;
  top: 33.1%;
}

.pwd-reveal-gray:hover {
  filter: none;
}

.signup-container {
  border-radius: 2% / 1%;
  box-shadow: 0 8px 17px -6px rgba(0, 0, 0, 0.7);
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin-top: 3rem;
  padding: 1rem 2rem 2rem 2rem;
  text-align: center;
  width: 10rem;
}

.signup-container button {
  cursor: pointer;
}
  
.signup-container form {
  align-items: center;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.signup-container h4 {
  margin: 0;
  margin-top: 2rem;
}