.complete-page-bar-item {
  background-color: black ;
}

.incomplete-page-bar-item {
  background-color: #86888A;
}

.page-bar {
  display: flex;
  flex-direction: row; 
  justify-content: space-evenly;
}

.paginator {
  background-color: #ffffff;

  h2 {
    margin: 0;
  }
}

.page-bar-item-wrapper {
  align-items: center;
  display: flex;
  flex-direction: column;

  .page-bar-item {
    border-radius: 25px;
    height: 6px;
    margin-bottom: 4px;
    width: 150px
  }

  span {
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
  }
}

.current-page-wrapper {
  // height: 100%;
  // width: 100%;
}