.complete-page-bar-item {
  background-color: black;
}

.incomplete-page-bar-item {
  background-color: #86888a;
}

.page-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.page-bar-item-wrapper {
  align-items: center;
  display: flex;
  flex-direction: column;

  .page-bar-item {
    border-radius: 25px;
    height: 6px;
    margin-bottom: 4px;
    width: 150px;
  }

  span {
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
  }
}

.current-page-wrapper {
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
}
