.meeting-modal {
  .MuiPaper-root-MuiDialog-paper{
    border-radius: 0px;
  }

  .modal-dialog-content {
    overflow-x:hidden;
    padding: 0px 16px 0px 16px;
    border-radius: 0px;
  }
  .meeting-modal-icons {
    align-items: center;;
    background-color: white;
    display: flex;
    height: 24px;
    justify-content: flex-end;
    top: 0px;
    width: 100%;
    z-index: 2;
    padding: 8px 0px 8px 0px;
  }

  .back-arrow-icon {
    cursor: pointer;
  }
  .clear-icon {
    cursor: pointer;
  }

  .content-wrapper {
    display:grid;
    gap: 16px;
    padding: 0px;

    grid-template-areas: 
    "title title"
    "clockIcon dateFields"
    "peopleIcon selectAttendees"
    "divider divider"
    "meetIcon meetToggler"
    "descriptionIcon description";
    
    .title-input-label {
      font-size: 32px;
    }

    .title-field {
      grid-area:title;
      margin: 0;
      padding-left: 38px;

      .MuiTextField-root {
        margin-bottom: 0px;
      }
    }

    .MuiInputBase-root::after {
      border-bottom: 2px solid #0D47A1;
    }

    .required-span {
      font-size: 12px;
      font-style: italic;
      margin: 0;
    }

    .time-fields{
      display: flex;
      flex-direction: row;
    }

    .description-icon {
      grid-area: descriptionIcon;
  
    }

    .description-field {
      grid-area: description
    }

    .css-l4u8b9-MuiInputBase-root-MuiInput-root:after {
      border-bottom: none;
    }
  }

  .people-icon {
    grid-area: peopleIcon;
  }

  .meeting-modal-divider {
    background-color: #313335;
    grid-area: divider;
    height: 1px;
    position: relative;
    right: 24px;
    width: 120%;
  }

  .meeting-text-field {
    display: flex;
    flex-direction: row;
  }
  .google-meet-icon {
    grid-area: meetIcon;
    margin-top: 5px;
  }

  .google-meet-text {
    color:  #212121;
    font-size: 12px;
    margin: 0;
  }

  .google-meet-toggler {
    grid-area: meetToggler;
  }

  .MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline{
    border-color: #0D47A1;
  }

  .MuiTextField-root .MuiInput-underline{
    padding-top: 0px;
  }

  ul {
    padding-top: 0px;
    padding-bottom: 0px;

    li {
      .MuiListItemText-root {
        margin: 0px;
      }
    }
  }
}