.editprofile-screen {
  form {
    display:flex;
    flex-direction: column;
    max-width: 500px;
    margin: auto;

    label {
      display:flex; 
      flex-direction: column;
      margin: 5px 0;

      input {
        margin-top: 3px;
      }
    }
  }
}
