.main-wrapper {
  display: flex;
}

.main-content-container {
  background-color: white;
  margin-top: 93px;
  min-height: calc(100vh - 250px);
  padding-bottom: 5rem;
  max-width: calc(100% - 272px); // 272px coming from width of sidemenu
}

.landing-main-content-container {
  min-height: calc(100vh - 250px);
}

#forgot-password-link {
  color: #0d47a1;
  cursor: pointer;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  margin-top: 4px;
  text-decoration: underline;
}
