.projectcompletion {
  // Confirmation page

  &__confir-contents,
  &__confir-info,
  &__confir-mem-group1,
  &__confir-part,
  &__confir-time,
  &__confir-title,
  &__confir-url {
    @include flex(column);
  }

  &__confir-contents {
    height: 321px;
    padding: 0;
    width: 512px;
  }

  &__confir-header {
    @include flex(row, inherit, baseline);
    height: 20px;
    margin: 0 0 8px 0;
    padding: 0;
    width: 194px;

    h3 {
      @include font-properties(
        (
          size: 14px,
          weight: 700,
          line-height: 20px,
        )
      );
      margin: 0 15px 0 0;
    }

    p {
      color: #022888;
      font-size: 11px;
      cursor: pointer;
    }
  }

  &__confir-info {
    height: 224px;
    padding: 0;
    width: 194px;

    p {
      @include font-properties(
        (
          size: 12px,
          weight: 400,
          line-height: 17px,
        )
      );
      margin: 0;
    }
  }

  &__confir-mem-group1 {
    padding: 0;
  }

  &__confir-members {
    @include flex();
    height: 42px;
    padding: 0;
    width: 191px;

    p {
      margin: 0 0 8px 0;
    }
  }

  &__confir-next-btn {
    @include container-properties(
      (
        background-color: #fa9413,
        border: none,
        border-radius: 4px,
        height: 35px,
        width: 102px,
      )
    );
    @include flex(row, center, center);
    @include font-properties(
      (
        size: 16px,
        weight: 500,
        line-height: 22px,
      )
    );
    margin-left: 8px;
    cursor: pointer;
  }

  &__confir-part {
    height: 70px;
    padding: 0;
    width: 194px;
  }

  &__confir-time {
    height: 45px;
    margin: 0 0 32px 0;
    padding: 0;
    width: 125px;
  }

  &__confir-title {
    height: 65px;
    margin: 0 0 32px 0;
    padding: 0;
    width: 512px;

    h1 {
      @include font-properties(
        (
          size: 24px,
          weight: 600,
          line-height: 34px,
        )
      );
      margin: 0 0 8px 0;
    }

    p {
      @include font-properties(
        (
          size: 16px,
          weight: 400,
          line-height: 22px,
        )
      );
      margin: 0;
    }
  }

  &__confir-url {
    height: 45px;
    margin: 0 0 32px 0;
    padding: 0;
    width: 154px;
  }

  &__confirmation-form {
    height: 321px;
    padding: 0;
    width: 512px;
  }

  &__pag-confirmation {
    @include flex(column, center, center);
    height: 556px;
    margin: 88px auto auto;
    width: 675px;
  }
}