.projectcompletion {
  // Presentation page

  &__pag-presentation,
  &__pre-contents,
  &__presentation-form {
    height: 222px;
    width: 754px;
  }

  &__pag-presentation {
    @include flex(row, center, center);
    margin-top: 88px;
  }

  &__pre-contents,
  &__pre-part-label1,
  &__pre-part-label2 {
    @include flex();
  }

  &__pre-contents,
  &__presentation-form {
    padding: 0;
  }

  &__pre-details,
  &__pre-icons-containter,
  &__pre-part-container,
  &__pre-part-radios {
    @include flex(column);
  }

  &__pre-details {
    height: 222px;
    margin-right: 44px;
    width: 316px;

    h1 {
      @include font-properties(
        (
          size: 24px,
          weight: 600,
          line-height: 34px,
        )
      );
      height: 34px;
      margin: 0 0 8px;
      width: 237px;
    }

    p {
      @include font-properties(
        (
          size: 12px,
          weight: 400,
          line-height: 17px,
        )
      );
      margin: 0;
    }
  }

  &__pre-icon {
    height: 20px;
    margin-right: 11px;
    width: 18px;
  }

  &__pre-icon-content {
    @include flex(row, center, center);
    margin-bottom: 8px;
  }

  &__pre-icons-containter {
    margin: 8px 0 8px;
    width: 316px;
  }

  &__pre-part-container {
    height: 222px;
    margin-left: 44px;
    padding: 0;
    width: 350px;
  }

  &__pre-part-label1 {
    margin: 0 0 12.5px 0;

    input {
      height: 13.33px;
      margin: 0 8px 0 0;
      width: 13.33px;

      &[type='radio'] {
        accent-color: black;
      }
    }

    p {
      font-size: 12px !important;
    }
  }

  &__pre-part-label2 {
    input {
      height: 13.33px;
      margin: 0 8px 0 0;
      width: 13.33px;

      &[type='radio'] {
        accent-color: black;
      }
    }
  }

  &__pre-part-para1 {
    font-size: 12px !important;
    line-height: 17px;
  }

  &__pre-part-para2 {
    font-size: 11px;
    line-height: 15px;
  }

  &__pre-part-radios {
    height: 62px;
    margin-bottom: 16px;
    padding: 0;
    width: 350px;

    p {
      font-size: 11px;
      line-height: 15px;
      margin: 0;
    }
  }

  &__pre-part-title {
    margin: 0 0 16px 0;

    h3 {
      font-size: 16px;
      font-weight: 400;
      text-align: start;
    }
  }

  &__pre-para-content {
    height: 68px;
    width: 287px;
  }
}