.projectcompletion {
  // What's Next

  &__pag-whats-next,
  &__what-btns,
  &__what-contents {
    @include flex(column, center, center);
  }

  &__pag-whats-next {
    height: 577px;
    padding: 0;
    width: 665px;
  }

  &__what-btns,
  &__wht-back-btn {
    @include container-properties(
      (
        background-color: #ffffff,
        border-radius: 4px,
        height: 78px,
        width: 208px,
      )
    );
  }

  &__what-btns {
    margin: 40px auto 0;
  }

  &__what-contents {
    padding: 0;
    text-align: center;
    width: 665px;
  }

  &__what-form {
    height: 577px;
    padding: 0;
    width: 665px;
  }

  &__what-info {
    margin: 40px 0 0 0;

    h2 {
      @include font-properties(
        (
          size: 24px,
          weight: 600,
          line-height: 34px,
        )
      );
    }

    p {
      font-size: 16px;
      margin: 16px 48px 0;
      text-align: initial;
      width: 569px;
    }
  }

  &__what-title {
    margin: 88px 0 0 0;

    h1 {
      @include font-properties(
        (
          size: 38px,
          weight: 600,
          line-height: 53px,
        )
      );
      margin: 0;
    }
  }

  &__wht-ans-btn,
  &__wht-back-btn {
    @include flex(row, center, center);
    @include font-properties(
      (
        size: 16px,
        weight: 500,
        line-height: 22px,
      )
    );
  }

  &__wht-ans-btn {
    @include container-properties(
      (
        background-color: #fa9413,
        border: none,
        border-radius: 4px,
        height: 78px,
        width: 208px,
      )
    );
    margin-bottom: 8px;
  }

  &__wht-back-btn {
    border: 1px solid #8048c8;
    color: #8048c8;
    margin: 0;
  }
}