.projectcompletion {
  // Confirmation page
  
  &__confir-contents {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    height: 321px;
    padding: 0;
    width: 512px;
  }

  &__confir-header {
    align-items: baseline;
    display: flex;
    flex-direction: row;
    height: 20px;
    margin: 0 0 8px 0;
    padding: 0;
    width: 194px;

    h3 {
      font-size: 14px;
      font-weight: 700;
      line-height: 20px;
      margin: 0 15px 0 0;
    }

    p {
      color: #022888;
      font-size: 11px;
    }
  }

  &__confir-info {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    height: 224px;
    padding: 0;
    width: 194px;

    p {
      font-size: 12px;
      font-weight: 400;
      line-height: 17px;
      margin: 0;
    }
  }

  &__confir-mem-group1 {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    padding: 0;
  }

  &__confir-mem-group2 {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    margin: 0 0 0 32px;
    padding: 0;
  }

  &__confir-members {
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    height: 42px;
    padding: 0;
    width: 191px;

    p {
      margin: 0 0 8px 0;
    }
  }

  &__confir-next-btn {
    align-items: center;
    background-color: #fa9413;
    border: none;
    border-radius: 4px;
    display: flex;
    flex-direction: row;
    font-size: 16px;
    font-weight: 500;
    height: 35px;
    justify-content: center;
    line-height: 22px;
    margin-left: 8px;
    width: 102px;
  }

  &__confir-part {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    height: 70px;
    padding: 0;
    width: 194px;
  }

  &__confir-time {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    height: 45px;
    margin: 0 0 32px 0;
    padding: 0;
    width: 125px;
  }

  &__confir-title {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    height: 65px;
    margin: 0 0 32px 0;
    padding: 0;
    width: 512px;

    h1 {
      font-size: 24px;
      font-weight: 600;
      line-height: 34px;
      margin: 0 0 8px 0;
    }

    p {
      font-size: 16px;
      font-weight: 400;
      line-height: 22px;
      margin: 0;
    }
  }

  &__confir-url {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    height: 45px;
    margin: 0 0 32px 0;
    padding: 0;
    width: 154px;
  }

  &__confirmation-form {
    height: 321px;
    padding: 0;
    width: 512px;
  }

  &__pag-confirmation {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 556px;
    margin: 88px auto auto;
    width: 675px;
  }
}