.project-completion-confirmation-page {
  height: auto;
  margin-top: 32px;
  width: 100%;

  .title {
    @include flex(column);
    gap: 8px;

    h1 {
      font-size: 36px;
      font-weight: 700;
      line-height: 44px;
      margin: 0;
    }
    p {
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      margin: 0;
    }
  }

  .url-container {
    margin-top: 32px;

    p {
      font-size: 16px;
      font-weight: 500;
      line-height: 24px;
      margin: 0;
    }

    input {
      box-sizing: border-box;
      height: 40px;
      margin-top: 8px;
      padding: 8px 16px;
      width: 50%;
    }
  }

  .participation-container {
    margin-top: 16px;

    h2 {
      font-size: 16px;
      font-weight: 500;
      line-height: 24px;
      margin-bottom: 4px;
    }

    .radio-btn-container {
      @include flex(column);
      gap: 8px;

      .radio-btn {
        @include flex(row, flex-start, center);
        gap: 8px;
        padding-left: 8px;
      }
    }

    p {
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      margin: 0;
    }

    .helper-text {
      color: #616161;
      font-size: 12px;
      font-weight: 400;
      line-height: 16px;
      margin-left: 36px;
    }
  }

  .btn-container {
    flex-direction: row;
    justify-content: flex-end;
    margin-top: 32px;
    width: 100%;
  }
}
