@import 'scss/variables';
@import 'scss/mixins';
@import 'UrlPage';
@import 'PresentationPage';
@import 'ConfirmationPage';
@import 'WhatsNextPage';

.project-completion {

  .page-container {
    @include container-properties(
      (
        height: 800px,
        width: 800px,
      )
    );
    @include flex(column, flex-start, center);
    margin: 64px auto auto;
  }
}
