.project-completion-banner {
  align-items: center;
  background-color: #fff3e0;
  display: flex;
  justify-content: space-between;
  min-height: 91px;
  height: fit-content;
  width: 100%;

  img {
    height: 75px;
    margin-left: 32px;
    width: 75px;
  }

  .content {
    color: #1944a3;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin: 16px 0;
    font-weight: bold;

    h2,
    p {
      margin: 0;
    }

    h2 {
      font-weight: bold;
      font-size: 28px;
      line-height: 36px;
    }

    p {
      font-size: 14px;
      line-height: 20px;
    }

    .infotext {
      display: flex;
      font-weight: bolder;
      gap: 4px;
      text-align: left;
      align-items: center;
    }
  }
}
