@import 'scss/variables';
@import 'scss/mixins';
@import 'UrlPage';
@import 'PresentationPage';
@import 'ConfirmationPage';
@import 'WhatsNextPage';

.projectcompletion {
  // Main Pag

  &__back-btn,
  &__btns,
  &__next-btn,
  &__next-btn-ready {
    @include flex(row, center, center);
  }

  &__back-btn,
  &__cancel-btn,
  &__next-btn,
  &__next-btn-ready {
    @include font-properties(
      (
        size: 16px,
        weight: 500,
        line-height: 22px,
      )
    );
    cursor: pointer;
  }

  &__back-btn,
  &__cancel-btn {
    @include container-properties(
      (
        background-color: #ffffff,
        border: 1px solid #8048c8,
        border-radius: 4px,
        color: #8048c8,
      )
    );
  }

  &__next-btn,
  &__next-btn-ready {
    @include container-properties(
      (
        border: none,
        border-radius: 4px,
        height: 35px,
        width: 84px,
      )
    );
  }

  &__back-btn {
    height: 35px;
    width: 84px;
    margin-right: 8px;
  }

  &__back-icon {
    margin: 9.5px 8px 9.5px 0;
  }

  &__btns {
    background-color: #ffffff;
    margin-top: 88px;
  }

  &__cancel-btn {
    height: 35px;
    margin-right: 8px;
    width: 77px;
  }

  &__forward-icon {
    margin: 9.5px 0 9.5px 8px;
  }

  &__next-btn {
    background-color: #ecebeb;
    margin-left: 8px;
  }

  &__next-btn-ready {
    background-color: #fa9413;
    margin-left: 8px;
  }

  &__pag-container {
    @include container-properties(
      (
        background-color: #ffffff,
        height: 800px,
        width: 800px,
      )
    );
    @include flex(column);
    margin: 64px auto auto;
  }
}